* {
    box-sizing: border-box;
}
h1 {
    font-family: "Butcherman";
    font-size: 30px;
    color: orange;
}
.calendar-top {
    border: 1px solid black;
    text-align: center;
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.calendar-body {
    border: 1px solid orange;
    background-color: black;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.flex-day-names {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-day-names > div {
    background-color: black;
    margin: 5px;
    width: 13%;
    text-align: center;
    height: 50px;
    font-size: 1.2em;
    color: orange;
}
.flex-container > div {
    background-color: #f1f1f1;
    border: 1px solid orange;
    width: 13%;
    margin: 5px;
    text-align: left;
    font-size: 30px;
    color: black;
    padding: 5px;
}
.flex-container > div:hover {
    background-color: black;
    color: orange;
}
.currentDate {
    background-color: black;
    color: orange;
}
