* {
    box-sizing: border-box;
}
h1 {
    font-family: "Butcherman";
    font-size: 30px;
    color: orange;
}
.first-row {
    display: flex;
}
.first-row div:last-child {
    margin-left: auto;
}
.calendar-top {
    border: 1px solid black;
    text-align: center;
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.calendar-body {
    border: 1px solid orange;
    background-color: black;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-day-names {
    display: none;
}

.flex-container > div {
    background-color: #f1f1f1;
    border: 1px solid orange;
    width: 100%;
    margin: 5px;
    text-align: left;
    font-size: 18px;
    color: black;
    padding: 5px;
}
.flex-container > div:hover {
    background-color: black;
    color: orange;
}
.offsetDivs {
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 5px solid #73ad21;
}

#eBtns {
    flex-direction: row;
}

#eventsTitles {
    font-weight: bold;
    color: rgb(12, 163, 201);
}

input {
    height: 30px;
    width: 100%;
}
h2 {
    color: goldenrod;
}

/* Desktop version */
@media only screen and (min-width: 650px) {
    .flex-container > div {
        flex-basis: 13%;
    }
    .flex-container {
        flex-wrap: nowrap;
    }
    .flex-day-names {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .flex-day-names > div {
        background-color: black;
        margin: 5px;
        width: 100%;
        text-align: center;
        height: 50px;
        font-size: 1.2em;
        color: orange;
    }
    .first-row div:last-child {
        display: none;
    }
    .offsetDivs {
        display: flex;
        visibility: hidden;
    }
}
